@use "var";

body {
  background: #f0f0f0;
  color: var.$black-color;
}

#root {
  height: 100dvh;
}

.navbar {
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem 1rem;
  background: var.$white-color;
  color: var.$black-color;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: box-shadow 0.3s cubic-bezier(.25, .8, .25, 1);

  li {
    display: inline-block;
    margin-right: 1rem;
    text-align: center;

    a {
      display: inline-block;
      background: var.$white-color;
      border-radius: 20px;
      padding: 1rem;
      color: var.$black-color;
      text-decoration: none;
      font-weight: bold;
      min-width: 6rem;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      transition: box-shadow 0.3s cubic-bezier(.25, .8, .25, 1);
    }

    a.active {
      outline: 3px solid var.$selected-color;
    }

    a:hover {
      background: var.$hover-color;
    }

    #navProfile {
      width: 75px;
      height: 75px;
    }
  }
}

button, a {
  font-size: 1em;
  padding: .6em;
  background: var.$white-color;
  border: none;
  border-radius: 20px;
  color: var.$black-color;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: box-shadow 0.3s cubic-bezier(.25, .8, .25, 1);

  &:hover {
    background: var.$hover-color;
  }
}

.capitalize {
  text-transform: capitalize;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;

  &:hover {
    background-color: #a8bbbf;
  }
}