@use "var";

$white: #fff;
$border-radius: 20px;
$rem: 1rem;
$margin-bottom: 2rem;
$margin-right: 1rem;
$margin-left: 1rem;
$margin-top: 1rem;

.loading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.error {
    color: white;
    font-weight: bold;
    background: red;
    padding: 0.5rem;
    border-radius: 15px;
}

.event {
    margin: $margin-top $margin-right $margin-bottom $margin-left;
    padding-bottom: 0.75rem;
    background: var.$primary-color;
    border-radius: $border-radius;
    height: auto;
    color: $white;
}

.event h2, .event ul, .event p {
    text-align: center;
    font-size: 1.25rem;
}

.event h2 {
    font-size: 1.75rem;
    padding-top: 0.5rem;
}



.event ul li {
    margin-top: 0.25rem;
}

.event img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
}
