@use "var";

.homepage{
  margin-bottom: 4rem;
  header {
    background: var.$primary-color;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: .5rem;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.30);

    ul {
      display: flex;
      gap: 1em;
      margin: 0 .5rem;
    }

    li {
      display: inline-block;
    }

    button {
      cursor: pointer;
    }
  }

  .pressed {
    outline: 3px solid var.$dark-color;
  }

}