header{
    background: white;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: .5rem;

    ul{
        display: flex;
        gap: 1em;
        margin: 0 .5rem;
    }
    li{
        display: inline-block;
    }
    button{
        cursor: pointer;
    }
}