#my-events {
  display: grid;
  grid-template-columns: 75% 25%;
  height: 41rem;
  max-width: 97%;

  #joined-events{
    display: flex;
    flex-direction: column;
    height: 36rem;
    max-width: 100%;

    h1{
      position: sticky;
      top: 0;
      text-align: center;
      background-color: #89d0c1;
      padding: 0.25rem;
      border-radius: 0.5rem;
      max-width: fit-content;
    }

    .event-type-header{
      position: sticky;
      top: 0;
      display: flex;
      justify-content: center;
    }

    .event{
      min-width: 12rem;
      max-width: 12rem;
      margin-right: 0.5rem;
      height: 13rem;
      h2{
        font-size: 1rem;
      }
      li{
        font-size: 0.75rem;
      }
      img{
        width: 8rem;
        height: 6rem;
      }
    }

    .horizontal {
      white-space: nowrap;
      display: flex;
      height: 12rem;
    }
    #ongoing-events{
      height: 50%;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
    }

    #upcoming-events{
      margin-top: 0.5rem;
      height: 50%;
      overflow-x: scroll;
      overflow-y: hidden;
    }
  }


  #created-events{
    height: 35rem;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


    h1{
      position: sticky;
      top: 0;
      text-align: center;
      margin-bottom: 1rem;
      background-color: #89d0c1;
      padding: 0.5rem;
      border-radius: 0.5rem;
    }
    p{
      padding: 0.5rem;
      background-color: #89d0c1;
      margin: 0.5rem;
    }

    .event{
      max-width: 17rem;
      min-width: 17rem;
    }
  }
}
