

#myEvents {
  overflow: hidden;
  display: grid;
  grid-template-columns: 70% 30%;
  height: 35rem;
  max-width: 98%;

  #joinedEvents{
    display: flex;
    flex-direction: column;
    height: 31rem;
    padding: 0.5rem;
    max-width: 100%;
    border-right: #89d0c1 solid;

    h1{
      position: sticky;
      top: 0;
      text-align: center;
      margin-bottom: 1rem;
      background-color: #b9f6ec;
      padding: 0.25rem;
      border-radius: 0.5rem;
      max-width: fit-content;
    }

    .eventTypeHeader{
      display: flex;
      justify-content: center;
    }

    .event{
      width: 10rem;
      h2{
        font-size: 0.25rem;
      }
      li{
        font-size: 0.5rem;
      }
      img{
        max-width: 6rem;
      }
    }

    .horizontal {
      overflow-x: scroll;
      white-space: nowrap;
      display: flex;
      height: 12rem;
    }
    #ongoingEvents{
      height: 45%;
      overflow: auto;
      white-space: nowrap;
      margin-bottom: 0.5rem;
      border-bottom: #89d0c1 solid;
    }

    #upcomingEvents{
      height: 45%;
      border-bottom: #89d0c1 solid;
    }
  }



  #createdEvents{
    height: 80%;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: #89d0c1 solid;
    margin-left: 1rem;
    box-shadow: 0 0.25rem 0.5rem #89d0c1;
    z-index: -1;


    h1{
      position: sticky;
      top: 0;
      text-align: center;
      margin-bottom: 1rem;
      background-color: #b9f6ec;
      padding: 0.5rem;
      border-radius: 0.5rem;
    }
    p{
      padding: 0.5rem;
      background-color: #89d0c1;
      margin: 0.5rem;
    }

    .event{
      max-width: 70%;
    }
  }
}
